@import "../styles/breakpoints";
@import "../styles/colors";
@import "../styles/mixin";

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 450px);
  @media (max-width: 500px) {
    height: calc(100vh - 230px);
  }
  .p1 {
    @include font29;
    font-weight: 600 !important;
  }
  .p2 {
    @include font14;
    margin: 12px 0 30px;
    color: #6d6d6d;
  }
  .btnDiv {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 40px;
    .btn {
      border-radius: 4px;
      background: linear-gradient(91.82deg, #ff6c4a -18.02%, #ff2f61 141.11%);
    }
    .btnText {
      @include font14;
      color: #fff;
    }
    .btnBack {
      border-radius: 4px;
      border: 1px solid #bbbfc1;
      background: #fff;
    }
    .backText {
      color: #ababab !important;
      font-size: calc(
        12px + (12 - 10) * (100vw - 280px) / (2560 - 280)
      ) !important;
      font-weight: 400 !important;
    }
  }
}
.upperDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .btn {
    border: 0.853659px solid #bbbfc1;
    border-radius: 3.41463px;
    padding: 10px 15px;
    @include font14;
    text-align: center;
    width: max-content;
    cursor: pointer;
    &:hover {
      border: 1px solid #ff623f;
    }
  }
  .selected {
    border-color: #ff6c4a;
    background: linear-gradient(91.82deg, #ff6c4a -18.02%, #ff2f61 141.11%);
    color: #fff;
  }
}
