@import "../styles/breakpoints";
@import "../styles/colors";
@import "../styles/mixin";

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 370px);
  @media (max-width: 500px) {
    height: calc(100vh - 354px);
  }
  .p1 {
    font-size: calc(24px + (50 - 40) * (100vw - 280px) / (2560 - 280));
    font-weight: 600;
    text-align: center;
  }
  .p2 {
    font-size: calc(22px + (50 - 40) * (100vw - 280px) / (2560 - 280));
    font-weight: 600;
    margin: 18px 0 30px;
  }
  .btn {
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #bbbfc1;
    border-radius: 4px;
    padding: 12px 30px;
    @media (max-width: 425px) {
      padding: 8px 17px;
    }
    .btnText {
      @include font18;
      color: #242731;
    }
    .img {
      margin-left: 10px;
    }
  }
}
